<div id="main-content" class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
          <mat-card>
              <h2>Search and return Observable</h2>
              <input [formControl]="term">
              <hr>
              <div *ngIf="results.length > 0">
                <li *ngFor="let result of results">
                  {{ result.name }} is a {{result.gender}} with a height of {{ result.height }}.</li>
              </div>
          </mat-card>
      </div>
    </div>
</div>